<%- include('header'); %>

<div class="container">
  <h1><%= title %></h1>
  <a href="/profile">Profile</a>
</div>

<a href="/Summary">Summary</a>

<br>

<a href="/transfer">Transfer</a>
<a href="/cheqing"><%= accounts.checking %></a>
<a href="/savings"><%= accounts.savings %></a>
<a href="/credit"><%= accounts.credit %></a>
</div>

<%- include('footer'); %>